.logo{
    text-decoration-color: blue;
}
.br-nav {
    text-decoration: none;
    display: block;
    align-content: center;
}
.bg{
    background: #2F303A;
    text-decoration: #FFFF;
    right: center;
}
.par{
    margin: 10px;
    display: flex;
}
